body {
    font: 40px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(250, 250, 250);
  }

  ol, ul {
    padding-left: 80px;
  }


  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 100px;
  }

  .square {
    background: rgb(216, 150, 200);
    border: 1px solid rgb(250, 250,250);
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 20px 20px;
    text-align: center;
    width: 100px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: rgb(131, 177, 241);
  }

  .game {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    margin-left: 80px;
  }
  .heading{
    /* font-style: "Gothic"; */
    font-size: 50px;
  }

  .button{
    width:120px;
    height:40px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid black;
  }

  .button:hover{
    color: black;
    background-color: white;
  }

  ol{
    display: flex;
  }

  li{
    margin-right: 80px;
    font-size: 25px;
      color: white;
  }
