body {
    font: 40px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(149, 240, 135);
  }
  
  ol, ul {
    padding-left: 80px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 100px;
  }
  
  .square {
    background: rgb(157, 197, 225);
    border: 1px solid rgb(29, 4, 4);
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 20px 20px;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(131, 177, 241);
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 80px;
  }
  .heading{
    /* font-style: "Gothic"; */
    font-size: 50px;
  }